.folders-icon {
  color: #007BB5;
}

.wd-hw-height {
  margin-top: 4px;
  padding-left: 15px;
}

.wd-folder-height {
  margin-top: 4px;
  padding-left: 8px;
}

.wd-filter-chip {
  background-color: darkgrey;
  color: white;
}

.vertical-line {
  border-left: 1px solid #666; 
  height: 30px; 
  margin-top: 1px;
}

.wd-margin-top {
  margin-top: 1px;;
}